<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>testing this shit</title>
        <link rel="stylesheet" href="../static/blog/css/bootstrap.min.css" media="screen" title="no title">
        <link rel="stylesheet" href="../static/blog/css/main.css" media="screen" title="no title">
    </head>
    <body>
        <div id="outerdiv">
            <button type="button" name="sni" class="btn btn-danger" id="bntOne">sign in</button>
            <button type="button" name="sno" class="btn btn-danger" id="bntTwo">sign on</button>
            <img src="../static/blog/img/phi.jpg" alt="" id="phi" />
            <div id="innerdiv">
                <nav id="navbar">
                    <ul>
                        <li><a href="#">home</a></li>
                        <li><a href="#">contact</a></li>
                        <li><a href="#">hangedman</a></li>
                    </ul>
                </nav>

                <div id="content">
                    <h1> would this be the end </h1>
                    <p>
                        this is a test, I repeat, this is a test, dont take it seriously
                    </p>
                </div>
                <div id="sidebar">
                    <h3>dont</h3>
                    <h2>pay any attention</h2>
                    <h3>to this</h3>
                </div>
            </div>
        </div>
    </body>
</html>
